@media (max-width: 768px) 
  {
      #home .caption p 
      {
        font-size: 24px;
        line-height: 36px;
      }
      
      .testimonial-box img
      {
          width: 50%;
      }
      nav button
      {
        border: none!important;
      }
      nav button:focus,nav button:active
      {
        border: none!important;
        box-shadow: none!important;
      }
      .navbar-collapse
      {
        background-color: #fff;
      }
      .navbar-collapse ul li
      {
        margin: auto;
      }
      .protofolio-nav .nav-link:focus:before, .active:before 
      {
        background-color: var(--primary-color);
      }
      .nav-link
      {
        color: #4e4e4e!important;
      }
      .nav-link:hover
      {
        color: var(--primary-color);
      }
      nav .container
      {
        max-width: 100%;
      }
  }

@media (min-width: 768px) and (max-width:991px) 
  {
    #home .caption p 
    {
      font-size: 24px;
      line-height: 36px;
    }
    
    .testimonial-box img
    {
        width: 50%;
    }
    nav button
    {
      border: none!important;
    }
    nav button:focus,nav button:active
    {
      border: none!important;
      box-shadow: none!important;
    }
    .navbar-collapse
    {
      background-color: #fff;
    }
    .navbar-collapse ul li
    {
      margin: auto;
    }
    .protofolio-nav .nav-link:focus:before, .active:before 
    {
      background-color: var(--primary-color);
    }
    .nav-link
    {
      color: #4e4e4e!important;
    }
    .nav-link:hover
    {
      color: var(--primary-color);
    }
    nav .container
    {
      max-width: 100%;
    }
  }

@media (min-width: 992px) 
  {

  }

@media (min-width: 1200px)
  {

  }
